.login-page{
    border: 1px solid gray;
    padding: 40px 20px;
}
.sign-in{
    font-size: 15px;
    border: none;
    padding: 20px 15px;
    background-color: black;
    color: white;
    font-weight: 700;
    transition: .4s;
}
.sign-in:hover{
    background-color: rgb(13, 180, 231);
    color: black;
}