.footer-container{
   background-color: rgb(14, 13, 13);
    color: white;
    margin-top: 50px;
    padding: 50px 0;
}
.footer-container h3{
    color: violet;
}
.footer-section img{
    color: white;
}
.footer-icon .fab{
    margin-right: 10px;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(231, 12, 184);
    border-radius: 50px;
    transition: .4s;
}
.footer-icon .fab:hover{
    background-color: tomato;
    cursor: pointer;
}